/.env.local
/.env.*.local
/vendor/
/var/
.phpunit.result.cache
/.idea/
/.vscode/
.DS_Store
/docker-data/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
/.env.local.php
/auth.json
/composer-auth.json
*.pem
*.key
